.top-margin {
  margin-top: 20px;
}

.progress {
  position: fixed;
  bottom: 30px;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.slider {
  align-self: center;
  width: 500px;
  height: 200px;
}